:root {
    --dark-text: rgba(0, 0, 0, 0.74);;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 9px;
    margin-right: 20px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #929292;
}